@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-fzrubi');
	src:url('../fonts/icomoon.eot?#iefix-fzrubi') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-fzrubi') format('woff'),
		url('../fonts/icomoon.ttf?-fzrubi') format('truetype'),
		url('../fonts/icomoon.svg?-fzrubi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-vol:before {
	content: "\e601";
}
.icon-stop:before {
	content: "\e602";
}
.icon-vol2:before {
	content: "\e604";
}
.icon-sin_vol:before {
	content: "\e605";
}
.icon-siguiente:before {
	content: "\e606";
}
.icon-regresar:before {
	content: "\e607";
}
.icon-play:before {
	content: "\e608";
}
.icon-persona:before {
	content: "\e609";
}
.icon-menu:before {
	content: "\e60a";
}
.icon-mas:before {
	content: "\e60b";
}
.icon-lupa:before {
	content: "\e60c";
}
.icon-logo:before {
	content: "\e60d";
}
.icon-like:before {
	content: "\e60e";
}
.icon-import:before {
	content: "\e60f";
}
.icon-carta:before {
	content: "\e610";
}
.icon-candado:before {
	content: "\e611";
}
.icon-aleatorio:before {
	content: "\e612";
}
.icon-left:before {
	content: "\e600";
}
